//META{"name":"Dark_Souls","description":"Dark Souls Theme for For Dark Souls fan (Now with fixs!)","author":"Mondanzo","version":"1.8"}*//

/* Font Family */

@font-face {
	font-family: darksouls;
	src: url(https://cdn.rawgit.com/Mondanzo/GameThemes-BetterDiscord/44311b72/OptimusPrinceps.woff);
}

* {
	font-family: darksouls !important;
}

.messages {
	font-size: 15px !important;
}



/* Font Color */

span .timestamp, div .topic, div .markup {
	color: #FFFFFF !important;
}

code {
	background-color: rgba(2,2,2,0.9) !important;
}
span .highlight {
	color: #000334 !important;
}

.message-group-blocked-btn {
	color: #cbcbcb !important;
}

/* Background */

.layers, .layer { background: rgba(0,0,0, 0.3) !important; }

.app {
	background-image: url(https://i.kinja-img.com/gawker-media/image/upload/peblnnw25c2tpyvsgxpw.jpg);
	background-size: cover;
}

.private-channel-call {
	background-image: url(https://i.kinja-img.com/gawker-media/image/upload/peblnnw25c2tpyvsgxpw.jpg);
	background-size: cover;
}


.create-guild-container, .change-log {
	background-color: rgba(0,0,0, .5) !important;
	background-image: url(https://assets.vg247.com/current//2016/04/dark_souls_3_guide_generic.jpg) !important;
	background-size: cover !important;
	color: #FFFFFF !important;
}

div.action {
	background-color: rgba(0,0,0, 0.5) !important;
}

.create-guild-container .create-or-join .actions .or {
	background-color: rgba(0,0,0, 0.2) !important;
	background-image: none;
}

.ui-standard-sidebar-view {
    background-color: rgba(0, 0, 0, 0) !important;
}

.sidebar-region {
    background-color: rgba(0, 0, 0, 0.80) !important;
}

.content-region {
    background-color: rgba(0, 0, 0, 0.70) !important;
}

/* Header Stuff */

 .guild-header:not(.guild-header-open) > ul {
    visibility: hidden;
}

/* Avatar Stuff */

div.avatar-small {
	border: hidden !important;
    border-radius: 25px !important;
}

div.avatar-large {
	border: hidden !important;
    border-radius: 25px !important;
}

/* Popout */

div .user-popout {
	background: transparent !important;
}

div.username-wrapper {
	background-color: rgba(0,0,0,0.9);
}
.user-popout .header {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/8/8d/Dark_Souls_Cover_Art.jpg) !important;
	background-size: cover !important;
}

div .avatar-popout {
	padding-top: 2px;
	padding-bottom: 2px;
	border: hidden !important;
    border-radius: 25px !important;
	background-color: transparent !important;	
}	

div .avatar-profile {
	border: hidden !important;
    border-radius: 25px !important;
	background-color: transparent !important;	
}

/* Button Things */

label .settings-right {
	color: #000000 !important;
}

.tooltip {
	background-color: #4b3531 !important;
}

.tooltip.tooltip-left:after {
	border-left-color: #4b3531 !important;
}

.tooltip.tooltip-bottom:after {
	border-bottom-color: #4b3531 !important;
}

.tooltip.tooltip-right:after {
	border-right-color: #4b3531 !important;
}

.tooltip.tooltip-top:after {
	border-top-color: #4b3531 !important;
}

.btn .active {
	background-color: #696E7A !important;
}

.btn:hover 	.btn-deafen:not .btn-mute:not .btn-settings:not {
	background-color: #4E5A78 !important;
}

.create:hover ~ .btn{
	background-color: #4E5A78 !important;
}

.join:hover ~ .btn{
	background-color: #4E7853 !important;
}

.btn.btn-hamburger {
	background: transparent !important;
}

.friends-action-red {
	background-color: #8C2626 !important;
}

.btn, input .checkbox-inner {
	background-color: #696E7A !important;
}

/* Transparents */


#rtc-connection,
#friends,
#friends .friend-table,
.private-channel-call-participants,
.search-bar,
.settings .settings-actions,
.settings .settings-inner,
.form-inner,
.message-group-blocked-btn,
.guilds-wrapper,
.channels-wrap,
.guild-channels,
.account,
.scroller-wrap,
.links,
.chat,
.tab-bar .SIDE,
.settings-header,
.btn-icon .btn-icon-settings,
.btn-icon .btn-icon-mute,
.modal-inner,
.messages-wrapper,
.title-wrap,
.content,
.channel,
.chat-empty,
.message-group-blocked,
.private-channels,
.typing,
.context-menu .region-select-popout,
.channel-members,
.messages,
.highlight,
.channel-textarea-inner,
.channel-textarea,
textarea,
.guild-header header,
.user-popout > header .header,
.friends-header,
.friends-table,
.btn-group,
.channel-textarea-autocomplete-inner,
.btn-settings,
.btn-deafen,
.btn-info,
.btn-disconnect,
.btn-mute,
ul,
.divider-red span,
.divider span {
    background: transparent !important;	
}

/* Form Color */
.channel-textarea-autocomplete-inner, .popout .popout-bottom-right {
	background-color: transparent !important;
	background-image: url(https://www.colourbox.com/preview/3588962-dark-wooden-room-as-background.jpg) !important;
	background-size: cover !important;
	color: #FFFFFF !important;
}

.channel-textarea-autocomplete-inner > ul > .active {
	background-color: rgba(43, 20, 16, 0.3) !important;
}

.settings-inner {
	opacity: 0.7;
}

.avatar-uploader .avatar-uploader-inner {
	border: hidden !important;
    border-radius: 25px !important;
	background-color: transparent !important;
}

.radio-inner {
	background-color: #191919 !important;
}

.radion {
	color: #FFFFFF !important;
}

.invite-button {
	background-image: url(https://i.ytimg.com/vi/Ha8eRiP0DmI/maxresdefault.jpg) !important;
	background-size: cover;
	background-color: rgba(0,0,0,0) !important;
}

.invite-button-header {
	color: #000000 !important;
}

.invite-button-body {
	color: #191919  !important;
}

.invite-button-icon {
	border-radius: 15%;
    background-color: #535559;
	border-style: hidden;
}

label {
	color: #FFFFFF !important;
}

input {
	background-color: rgb(15,10,10);
	color: #FFF !important;
	font-weight: bold !important;
}

div .authed-app {
	background-color: rgba(10,10,10,1.0) !important;
}


/* Border and Shadow */
.title-wrap,
.tab-bar.TOP,
header,
ul,
input,
div .account,
.btn-group,
.channel-textarea .has-result,
.btn,
form {
	box-shadow: none !important;
	border: none !important;
}

/* Guild Color / Animation / Form */

.guild .guild-inner,
.guilds-add {
    transition: all .1s ease-in-out;
    border-radius: 5px !important;
}
.guild:hover .guild-inner {
    border-radius: 25px !important;
}
.guild .guild-inner.selected {
    border-radius: 25px !important;
}

/* Channel Color */
.channel .channel-text .selected {
	transition: all 0.25s ease-in-out !important;
	background: transparent !important;
}

/* User Stuff */
.status-offline {
    background-color: #4A0000 !important;
}

.status-online {
    background-color: #004A05 !important;
}
.status-idle {
    background-color: #873400 !important;
}

div .member:hover, .popout-open {
	background: transparent !important;
	color: #FFFFFF !important;
}
